$indigo-light-primary: mat-palette($mat-light-blue, 700, 50, 800);
$indigo-light-accent: mat-palette($mat-indigo, 900, A100, A400);
$indigo-light-warn: mat-palette($mat-blue, 900);

$indigo-light-theme: mat-light-theme($indigo-light-primary, $indigo-light-accent, $indigo-light-warn);