<div fxlayout="row" class="mt-2 pt-3" fxflexalign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">
    <mat-icon class="mat-icon-xlg accent-color">lock</mat-icon><h1>Secure Chechkout</h1>
    <p class="secondary-text-color">Please verify the information and select one payment method</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="33.3" fxFlex.sm="50" class="p-0">
          <mat-card>
            <mat-card-header fxLayoutAlign="center">
              <mat-card-subtitle><h2>Simple form field</h2></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center">
              <mat-form-field>
                <textarea matInput placeholder="Textarea"></textarea>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>