<section class="hero-area text-center">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <img src="../assets/images/processing.gif" style="width:150px" />
                    <br/>
                    <h3 style="color: #000000">Payment Processing...</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>