<div fxlayout="row" class="mt-2 pt-3" fxflexalign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">
        <mat-icon class="mat-icon-xlg accent-color">shopping_cart</mat-icon><h1>Secure Checkout</h1>
        <p class="secondary-text-color">Please verify the information and select one payment method</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch">
        <div fxFlex="100">
            <div fxLayout="row" fxLayoutAlign="center stretch">
                <div fxFlex="100" fxFlex.gt-md="25">
                    <mat-card fxFlex=100%>
                        <mat-card-header fxLayoutAlign="center">
                            <mat-card-subtitle><h2>Billing Adress</h2></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content fxLayout="column" fxLayoutAlign="center">
                            <mat-form-field>
                                <textarea matInput placeholder="Billing Adress"></textarea>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-md="25">
                    <mat-card *ngIf="package">
                        <mat-card-header fxFlexAlign="center center">
                            <mat-card-subtitle><h2>Buying {{package.shortname}} Package</h2></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content fxFlexAlign="center center">
                            <h4>Features included</h4>
                            <mat-divider></mat-divider>
                            <div *ngFor="let feature of package.features">
                                <p><mat-icon class="mat-icon-sm" color="primary">done</mat-icon>  {{feature.feature}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <p> <br></p>
                            <strong>Total Billied  ${{package.baseprice}}</strong>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxlayout="row" class="mt-2 pt-3" fxflexalign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" class="title-section p-2 mb-2">
        <mat-icon class="mat-icon-xlg accent-color">payment</mat-icon><h4>Select a Payment methot</h4>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2"
             [ngClass]="{'highlight' : paypalIsSelected, 'not-highlight' : !paypalIsSelected}"
             (click)="onSelect('paypal')">
            <mat-card class="gradient-indigo tile p-2">
                <mat-icon>monetization_on</mat-icon>
                <img src="../../assets/img/app/paypal-logo.png" width="200"/>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-2"
             [ngClass]="{'highlight' : payuIsSelected, 'not-highlight' : !payuIsSelected}"
             (click)="onSelect('payu')">
            <mat-card class="gradient-green tile p-2">
                <mat-icon>monetization_on</mat-icon>
                <img src="../../assets/img/app/payu-logo.png" width="100"/>
            </mat-card>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button id="btncheckout" mat-raised-button color="accent" class="mt-3" (click)="onSelect('checkout')">Checkout</button>
        </div>
    </div>
</div>

