<section class="hero-area text-center">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <img src="../assets/images/payment_failed.png" style="width:150px" />
                    <br/>
                    <h3 style="color: #000000">Payment Failed</h3>
                     <a class="mt-3 d-block  text-primary" (click)= "tryCheckout()">Try Again</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>